<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3>ToDo list</h3>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">toDo</th>
                    <th scope="col">Comleted</th>
                    <th scope="col">User Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of todoData.todos">
                    <td>{{i.id}}</td>
                    <td>{{i.todo}}</td>
                    <td>{{i.completed}}</td>
                    <td>{{i.userId}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>


        </div>
    </div>
</div>